nav {
    background-color: var(--primary-color);
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 1000;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
  }
  
  nav a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
  }