
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #333;
  --secondary-color: #ffcc00;
  --background-color: #0408e6;
  --text-color: #efefef;
  --button-bg: #feac32;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  color: var(--text-color);
  margin-top: 75px; 
}


nav {
  background-color: var(--primary-color);
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 1000;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

nav a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

main {
  margin-top: 100px;
  padding: 20px;
}



